* {
    box-sizing : border-box;
    padding : 0;
    margin : 0;
}

body h1 {
    margin-top:5rem;
}

.pembuka {
    margin-top:2rem;
    margin-bottom:2rem;
    margin-left:25rem;
    margin-right:25rem;
    text-align: center;
    padding:2rem;
    background-color: aquamarine;
    border-radius: 13px;

}

h3 {
    font-size:48px;
    letter-spacing: 50px;
    text-align: center;
    font-weight:200;
}
li {
    list-style-type:disc;
    margin-bottom:1rem;
}
body h1 {
    padding-left:4rem;
    font-size : 120px;
    color : red;
    letter-spacing: 100px;
    line-height: 20px;
    text-align: center;
    margin-bottom: 4rem;
}
.paket {
    background-color : lightcyan;
    border-radius : 8px;
    padding-bottom : 4rem;
}

.paket p {
    font-size:28px;
    text-align: center;
    font-weight:200;
    margin-bottom:2rem;
    padding-top:2rem;
}

.subjek p{
    font-size:28px;
    font-weight: 500;
}

#math img {
    padding-left:39rem;
}
#fisika img {
    margin-left: 41rem;
}
.textpaket {
    margin-left:35rem;
    margin-right:35rem;
    padding:2rem;
    background-color:turquoise;
    border-radius:50px;
}

.soal {
    padding-top: 4rem;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-bottom:20rem;
    background-color:lightgreen;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:3.5rem;
}

.soal img {
    max-width: 200px;
    max-height: 400px;
}

form {
    text-align: center;
}
.inputbox label {
    margin-top: 4rem;
    text-align: center;

}
.inputbox input {
    height :50px;
    width: 320px;
    border-radius: 10px;
    align-items: center;
}
.inputpart {
    margin: 2rem;
}

.inputsub input{
    background-color: darkgoldenrod;
    color : red;
    font-size: 25px;
    height :40px;
    width: 160px;
}